// Override default variables before the import
$primary: #087990;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
  max-width: 100%;
  padding: 0;
  overflow: hidden;
}
.top-navbar {
  background-color: #f8f9fa;
}
.main-container {
  display: flex; 
  max-width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}
.img-container {
  padding: 0;
  margin: 0;
}
.title-container {
  background: #0aa2c0; 
  text-align: center; 
  min-height: 280px;
}
.h1-title {
  color: white;
  // font-size: 3.5vw; 
  // margin-bottom: 10px;
  // padding-top: 50px;
}
.h5-content {
  color: white; 
  margin-bottom: 50px; 
  // font-size: 1.2vw;
}
.main-contact-btn {
  color: #0aa2c0;
  background-color: white;
}
.main-contact-btn:hover {
  background-color: white;
}
.about-container {
  @media (min-width: 900px){
    max-width: 60vw
  }
}
.about-content {
  text-align: justify;
}
.pricing-container {
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding: 15px;
}
.pricing-content {
  max-width: 100%;
  margin: 15px 10px;
}
.pricing-card {
  height: 100%;
}
.pricing-header {
  background: #cff4fc;
}
.testimonial-container {
  background-color: #cff4fc;
  max-width: 100%;
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding: 15px 55px;
}
.testimonial-content {
  max-width: 100%;
  margin: 15px 10px;
}
.testimonial-card {
  height: 100%;
}
.testimonial-header {
  background: #cff4fc;
}
.video-container {
  // background-color: #cff4fc;
  max-width: 100%;
  margin-top: 50px; 
  margin-bottom: 50px; 
  padding: 15px 55px;
}
.video-content {
  max-width: 100%;
  margin: 15px 10px 0px;
}
.video-card {
  height: 100%;
}
.footer-container {
  height: auto;
  margin-top: 50px; 
  max-width: 100%;
  padding: 10px 10px;
}
.footer-content {
  margin: 15px 10px;
}
.contact-container {
  background: #0aa2c0;
  max-height: 100%;
  padding: 20px;
}
.map-container {
  padding-right: 0px;
  max-height: 100%;
}